h1, h2, h3, h4 {
  margin: 3px 0 3px 0;
}

.user_id_no {
  margin-top: -35px;
  padding-bottom: 56px;
  text-align: center;
  font-style: italic;
  color: #333;
}

#user_description {
  margin: -12px auto 14px;
}

#user_description:empty:before,
#user_description span.editable:empty:before {
  content: "It's best to use one of my emails below.";
}

#links_menu {
  font-size: 1.4em;
}

/* User info
*/

.updater {
    text-align: center;
    font-style: italic;
}

.updater_username {
    margin: -35px 0 28px;
}

.contact_block {
    display: inline-block;
    padding: 0 14px 7px 14px;
}

.contact_block_up {
    padding-bottom: 3px;
    font-size: 1.4em;
}

.contact_block_down {
    font-style: italic;
    color: #494949;
}


/* Books
*/

.book.book-medium  h3 {
  text-shadow: none;
  font-size: 1.75em;
}

.book.book-medium .book-extra-info {
  padding-top: 7px;
}

.book.book-medium .book-holder {
  overflow: hidden;
}

.book.book-medium .clearer {
  clear: both;
}


/* Entries
*/

.book .book-entry {
  display: inline-block;
  padding-top: 0;
  color: #969696;
  font-style: italic;
}

.book .entry {
  font-size: 1.4em;
}

.entry-table {
  margin-bottom: 1.4em;
}

.entry-table tr {
  box-shadow: none;
}

.entry-table .editing {
  background: #dfd;
  border: 1px solid #ada;
}

.entry-table tr td:first-of-type {
  text-align: right;
}
.entry-table tr td:nth-of-type(2) {
  text-align: left;
}

.entry-table .entry-changes {
  display: inline-block;
  margin-top: 3px;
  margin-left: 7px;
  margin-right: -3px;
  width: 21px;
  height: 21px;
  opacity: .49;
  cursor: pointer;
}

.entry-table .editing .entry-changes-cell {
  margin-top: 7px;
}

.entry-table .entry-changes:hover {
  opacity: 1;
}

.entry-table .editing .edit-dollas {
  max-width: 49px;
  text-align: right;
}

.entry-table .entry-edit {
  background-image: url('../Images/Edit.gif');
}

.entry-table .editing .entry-edit {
  background-image: url('../Images/CheckActive.gif');
}

.entry-table .entry-delete {
  background-image: url('../Images/Delete.gif');
}

.entry-table .editing .entry-delete {
  visibility: hidden;
}


/* Notifications
*/

.notification {
  padding-bottom: 21px;
}
