html, body {
  margin: 0; 
}
html, footer {
  background-color: #111;
}
body {
  background-color: #111;
  font-family: 'Lato';
}

/* Standardized positioning
*/
.standard_main {
  margin: auto;
  text-align: center;
}
.standard_width,
.standard_main {
  max-width: 1015px;
}
@media(max-width: 1015px){
    .standard_main{
        padding:0 14px 0 0;
    }
}
.standard_vert {
  padding: 21px 0 35px 0;
}

/* General items
*/
body h1 {
  font-size: 49px;
}
h1, h2, h3 {
  /* font-family: 'Doppio One'; */
  text-shadow: 0 0 3px #aaa;
}
section:nth-of-type(2n+1) h1,
section:nth-of-type(2n+1) h2,
section:nth-of-type(2n+1) h3 {
  text-shadow: 0 0 3px #ccc;
}

a {
  text-decoration: inherit;
  font-style: inherit;
}
a, .a-emph, input.a-emph {
  color: #ee6e4c;
}
.a-emph {
  font-weight: normal;
  /* border: 1px solid #aaa; */
  cursor: pointer;
}

/* General fancy items
*/
.pad-v {
  padding-top: 117px;
  padding-bottom: 117px;
  line-height: 140%;
}
.pad-h {
  padding-right: 21px;
  padding-left: 21px;
}
.unemph {
  font-size: 70%;
  font-style: italic;
  color: #111;
}
section:nth-of-type(2n) .unemph {
  color: #ccc;
}
.small {
  font-size: 21px;
}
.medium {
  font-size: 28px;
}
.big {
  font-size: 35px;
}
.giant {
  font-size: 49px;
}

.notice {
  background: #cfc;
  border: solid #aca;
  border-width: 3px 0;
  clear:both;
}
.warning {
  background: #ffc;
  border: solid #cca;
  border-width: 3px 0;
}
.error {
  background: #fcc;
  font-weight: bold;
  border: solid #caa;
  border-width: 3px 0;
}

/* Inputs
*/
input,
button {
  padding: 3px 7px;
  max-width: 100%;
  border: 1px solid #988470;
  outline: none;
  font-size: 21px;
  color: #564942;
  text-shadow: 0 0 3px #ccc;
}
input::-ms-clear {  /* fix for IE10+ */
  display: none;
  width: 0;
  height: 0;
}
input, select {
  font-family: 'Lato';
}
input.large {
  border-radius: 28px;
  font-size: 28px;
  color: #564228;
}
input[type=text],
input[type=email],
input[type=password] {
  font-style: italic;
}
input[type=button],
input[type=submit],
button {
  border-width: 1;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(254,254,254,1) 35%, rgba(245,245,252,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(35%,rgba(254,254,254,1)), color-stop(100%,rgba(245,245,252,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,254,254,1) 35%,rgba(245,245,252,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,254,254,1) 35%,rgba(245,245,252,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,254,254,1) 35%,rgba(245,245,252,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(254,254,254,1) 35%,rgba(245,245,252,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5fc',GradientType=0 );
  cursor: pointer;
}

/* Header
*/
header {
  padding: 3px 0 0 0;
  height: 112px;
  background-color: #ccc;
}
#header_main {
  position: relative;
  height: 112px;
}
.headblock {
  height: 112px;
  float: left;
}
/* Badge */
#badge_main img {
  margin-top: 0px;
  width: 79px;
  height: 77px;
  border: 1px solid #777;
}
#login_information input {
  height: 17px;
  width: 100%;
}
#badge input[type=password] {
  height: 16px;
  display: block;
  margin: 1px 0;
}
#login_submit {
  width: 140px;
  float: left;
}
#login_forgot {
  float: right;
  margin-right: -16px;
}
/* Facebook */
#facebook_button {
  position: absolute;
  padding-top: 3px;
  bottom: 3px;
  left: 0;
  width: 210px;
  height: 22px;
  border: 1px solid #324b93;
  background: rgb(76,105,186);
  background: -moz-linear-gradient(top,  rgba(76,105,186,1) 0%, rgba(60,86,161,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,105,186,1)), color-stop(100%,rgba(60,86,161,1)));
  background: -webkit-linear-gradient(top,  rgba(76,105,186,1) 0%,rgba(60,86,161,1) 100%);
  background: -o-linear-gradient(top,  rgba(76,105,186,1) 0%,rgba(60,86,161,1) 100%);
  background: -ms-linear-gradient(top,  rgba(76,105,186,1) 0%,rgba(60,86,161,1) 100%);
  background: linear-gradient(to bottom,  rgba(76,105,186,1) 0%,rgba(60,86,161,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c69ba', endColorstr='#3c56a1',GradientType=0 );
  color: #eee;
  font-family: "Helvetica Neue", "Helvetica";
  cursor: pointer;
}
#facebook_button:hover {
  background: rgb(90,121,211);
  background: -moz-linear-gradient(top,  rgba(90,121,211,1) 0%, rgba(72,100,177,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,121,211,1)), color-stop(100%,rgba(72,100,177,1)));
  background: -webkit-linear-gradient(top,  rgba(90,121,211,1) 0%,rgba(72,100,177,1) 100%);
  background: -o-linear-gradient(top,  rgba(90,121,211,1) 0%,rgba(72,100,177,1) 100%);
  background: -ms-linear-gradient(top,  rgba(90,121,211,1) 0%,rgba(72,100,177,1) 100%);
  background: linear-gradient(to bottom,  rgba(90,121,211,1) 0%,rgba(72,100,177,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a79d3', endColorstr='#4864b1',GradientType=0 );
}
.logged #facebook_button {
  width: 51px;
  padding-left: 28px;
  text-align: left;
}

#facebook_button img {
  position: absolute;
  top: 3px;
  left: 3px;
}

/* Search */
#header_search {
  position: absolute;
  right: 14px;
  left: 217px; /* lel */
}
#header_search_input {
  height: 101px; /* 6 for padding */
  width: 99%;
  font-size: 49px;
  color: #999;
}
#header_search_results {
  position: absolute;
  margin-top: -1px;
  padding: 7px;
  border: 1px solid #aaa;
  border-width: 0 1px 1px 1px;
  background: white;
  z-index: 7;
}
#header_search_results.hidden {
  display: none;
}
/* Notifications icon
*/
#notif_icon {
  position: absolute;
  margin-top: -34px;
  background: white;
  border: 1px solid #777;
  box-shadow: 1px -1px 7px rgba(140,140,140,.7);
  width: 28px;
  height: 28px;
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
}
/* Header with measurements
*/
#badge.anonymous {
  width: 196px;
  margin-right: 21px;
}
#badge.logged {
  width: 77px;
  margin-right: 7px;
}
#badge.logged + #header_search {
  left: 84px;
}

/* Main Contents
*/
#body_grad_top {
  /* position: absolute; */
  width: 100%;
  height: 14px;
  z-index: -7;
  /* ColorZilla gradient */
  background: -moz-linear-gradient(top, white 0%, #fafafa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%,#fafafa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%,#fafafa 100%); /* IE10+ */
  background: linear-gradient(to bottom, white 0%,#fafafa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
#body_holder {
  min-height: 350px;
  background-color: #fafafa;
}

/* Half-measures
*/
.half_holder .half {
  width: 49%;
}
.half_holder .half.left {
  float: left;
}
.half_holder .half.right {
  float: right;
}
.half_after {
  clear: both;
}

@media (max-aspect-ratio: 1/1) {
  .half {
    width: 100% !important;
    float: none !important;
  }
}

/* Big Sections
*/
section {
  width: 100%;
  background-color: #fafafa;
}
section:nth-of-type(2n) {
  background: #494949;
  color: #fafafa;
}
section h1, section h2, section h3 {
  text-align: center;
}
section:nth-of-type(2n) a {
  color: #ff7f5d;
}

/* Request loads
*/
.loading {
  margin: 1em 0;
  font-style: italic;
  text-shadow: 0 0 35px white,
               0 0 14px #fafafa,
               0 0 3px white;
}
.loading hr {
  margin: 0 0 -.84em 0;
}
.loading .loader {
  display: inline;
  background: #fafafa;
  box-shadow: 0 0 14px rgba(252,252,252,.7);
}
section:nth-of-type(2n) .loading {
  text-shadow: 0 0 35px black,
               0 0 14px #070707,
               0 0 3px black;
}
section:nth-of-type(2n) .loading .loader {
  background: #494949;
  box-shadow: 0 0 14px rgba(73,73,73,.7);
}
.listings {
  padding-bottom: 28px;
}

/* Books
*/
.book {
  clear: both;
  padding: 0 0 14px 0;
  text-align: left;
}
.book .display_book_holder {
  overflow: hidden;
}
.book h1, .book h2, .book h3 {
  margin-top: 0;
  text-align: left;
}
.book aside {
  display: inline;
  padding-right: 7px;
  font-style: italic;
  font-weight: normal;
  opacity: .49;
}
.book h1 aside, .book h2 aside {
  font-size: 63%;
}
.book img {
  float: left;
  margin: 3px 7px 3px 0;
}
.book blockquote {
  margin: 0;
  opacity: .7;
  text-align: justify;
}
.book .display_book_extra {
  padding-top: 7px;
  color: #333;
}
.book .display_book_after {
  clear: both;
}
.book.book_large h2 {
  font-size: 1.56em;
  margin-bottom: 7px;
}
.book.book_large blockquote {
  font-size: 1.4em;
  line-height: 140%;
}
.book.book_large .authors {
  font-size: 1.17em;
}
.viewgoogle, .book .display_book_export {
  float: right;
}
.book .book_export {
  float: right;
  padding: 1px 7px;
}

/* Entry adder forms
*/
.entry {
  padding: 7px 0;
  font-size: 1.75em;
}
.entry hr {
  position: absolute;
}
.entry select {
  font-size: 1em;
  margin: 0 .14em 0 .21em;
}
.entry select.cents {
  font-size: .7em;
}
/* Money
*/
.money {
  display: inline;
}
.money input {
  height: 1.7em;
}
.money input[type=number] {
  padding: 0 7px;
  width: 2.8em;
  font-style: normal;
  text-align: right;
  font-size: 1em;
}

/* Footer
*/
footer {
  padding: 14px 0;
  text-align: center;
  font-size: 1.26em;
  color: #ccc;
  border-top: 7px solid #ccc;
  text-shadow: none;
}
footer hr {
  width: 350px;
  border: 1px dashed #ccc;
}
footer small {
  font-size: 84%;
  color: #777;
}


/* Editable Components
*/
.editable {
  text-align: center;
}
.editable:not(.editing) {
  padding: 3px 7px;
}
.editable:not(input) {
  cursor: pointer;
}
.editable:hover:not(.editing) {
  border: 1px solid #aaa;
}