input.import {
  margin: auto;
  display: block;
  font-size: 2.1em;
  font-style: normal;
  text-align: center;
}

.thinker {
  height: 0;
  overflow: hidden;
  transition: 350ms height;
}

.thinker.thinking {
  height: 1.4em;
}

.import.import-failed {
  opacity: .7;
}