/* Search form */

#search_form {
  position: relative;
  text-align: center;
}

#search_form_wrapper {
  position: relative;
  padding: 0 !important;
  height: 49px;
  width: 100%;
  display: inline-block;
}

#input_wrapper {
  position: absolute;
  right: 238px;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

#search_form_wrapper input {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#search_form_wrapper button, #search_form_wrapper select {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 49px;
  cursor: pointer;
}  
#search_form_wrapper select {
  margin-right: 84px;
  width: 140px;
}
#search_form_wrapper button {
  font-style: italic;
}

#search_form input,
#search_form_wrapper button,
#search_form select {
  font-size: 24.5px;
}

#search_submit {
  right: 0;
  width: 70px;
}


/* Search results */

.book_large {
  padding-bottom: 49px;
}

.book_large h2 {
  font-size: 1.75em;
}

.book_large h1,
.book_large h2,
.book_large h2 * {
  display: inline;
  font-size: 28px;
}